<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tarena.cloudnote.dao.AssociationDAO">
	
	<!-- 集合对象关联映射 -->
	<select id="findUserAndNoteBooks" parameterType="string"
			resultMap="userMap1">
		SELECT * FROM cn_user u JOIN cn_notebook b
		ON(u.cn_user_id=b.cn_user_id)
		WHERE u.cn_user_id=#{userId}
	</select>
	<!-- 封装格式 -->
	<resultMap id="userMap1" type="org.tarena.cloudnote.entity.User">
		<!-- 定义原有User对应的属性装载 -->
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
		<result property="cn_user_password" column="cn_user_password"/>
		<result property="cn_user_token" column="cn_user_token"/>
		<result property="cn_user_nick" column="cn_user_nick"/>
		<!-- 定义noteBooks关联属性的装载(集合) -->
		<collection property="noteBooks" javaType="java.util.List"
					ofType="org.tarena.cloudnote.entity.NoteBook">
			<!-- 定义原有NoteBook对应的属性装载 -->
			<id property="cn_notebook_id" column="cn_notebook_id"/>
			<result property="cn_user_id" column="cn_user_id"/>
			<result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
			<result property="cn_notebook_name" column="cn_notebook_name"/>
			<result property="cn_notebook_desc" column="cn_notebook_desc"/>
			<result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
		</collection>
	</resultMap>
	
	
	<!-- 单表查询 -->
	<select id="findUserByNoteBooks" parameterType="string"
			resultMap="userMap2">
		SELECT * FROM cn_user
		WHERE cn_user_id=#{userId}
	</select>
	<select id="findNoteBooksByUserId" parameterType="string"
			resultType="org.tarena.cloudnote.entity.NoteBook">
		SELECT * FROM cn_notebook
		WHERE cn_user_id=#{userId}
	</select>
	<resultMap id="userMap2" type="org.tarena.cloudnote.entity.User">
		<!-- 省略名称对应数据状态 -->
		<collection property="noteBooks" javaType="java.util.List"
					ofType="org.tarena.cloudnote.entity.NoteBook"
					select="findNoteBooksByUserId"
					column="cn_user_id"/>
	</resultMap>
	
	
	<!-- 单个对象关联映射 -->
	<select id="findNoteBooksAndUser" resultMap="noteBookMap1">
		SELECT * FROM cn_notebook b JOIN cn_user u
		ON(b.cn_user_id=u.cn_user_id)
		ORDER BY u.cn_user_name
	</select>
	<resultMap id="noteBookMap1" type="org.tarena.cloudnote.entity.NoteBook">
		<!-- 定义原有NoteBook属性 -->
		<id property="cn_notebook_id" column="cn_notebook_id"/>
		<result property="cn_user_id" column="cn_user_id"/>
		<result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
		<result property="cn_notebook_name" column="cn_notebook_name"/>
		<result property="cn_notebook_desc" column="cn_notebook_desc"/>
		<result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
		<!-- 定义新增User属性(单个对象) -->
		<association property="user" javaType="org.tarena.cloudnote.entity.User">
			<id property="cn_user_id" column="cn_user_id"/>
			<result property="cn_user_name" column="cn_user_name"/>
			<result property="cn_user_password" column="cn_user_password"/>
			<result property="cn_user_token" column="cn_user_token"/>
			<result property="cn_user_nick" column="cn_user_nick"/>
		</association>
	</resultMap>
	
	
	<!-- 另外发送SQL加载user信息 -->
	<select id="findNoteBooksAndUser2" resultMap="noteBookMap2">
		SELECT * FROM cn_notebook
	</select>
	<select id="findUser" parameterType="string"
			resultType="org.tarena.cloudnote.entity.User">
		SELECT * FROM cn_user
		WHERE cn_user_id=#{userId}
	</select>
	<resultMap id="noteBookMap2" type="org.tarena.cloudnote.entity.NoteBook">
		<!-- 省略对应字段封装 -->
		<!-- 关联user封装 -->
		<association property="user" javaType="org.tarena.cloudnote.entity.User"
					 select="findUser" column="cn_user_id"/>
	</resultMap>
	
</mapper>